*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
}
header{
    width: 1840px;
    height: 200px;
    margin: 0 auto;
    background: #014E56;
    
}
.logo{
    margin-top: 77px;
    margin-left: 165px;
}
.pages{
    font-size: 18px;
    margin-top:  80px;
    margin-left: 80px;
    list-style-type:  none;
}
.div_ul{
    display: flex;
}
.h_div1{
    display: flex;
}
/* .page1{
    margin-left: 405px;
    margin-top: 83px;
} */
.naav1{
    display: flex;
}
.div_ul2{
    margin-left: 612px;
    /* margin-top: 10px; */
    margin-right: 65px;
    border-radius: 10px;
    width: 80px;
}
a{
    color: white;
    text-decoration: none;
}
.a_solid{
    padding: 8px 32px;
    width: 70px;
    border: 1px solid #ebf2f3;
    border-radius: 13px;
}

.hero{
    width: 1840px;
    height:  700px;
    margin: 0 auto;
    padding-top: 2  5px;
    padding-bottom: 150px;
    background-color: #014E56;
    background-image: url(./img/Group\ 8\ \(4\).png), url(./img/Group\ 7.png);
    background-repeat: no-repeat;
    background-position: left top  95px, bottom right   ;
}
.hero_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h2talent{
    width: 30%;
    margin-left: 165px;
    margin-top: 10px;
    font-size: 80px;
    line-height: 70px;
    font-weight: 700px;
    color: #FFF;
}
span{
    width: 440px;
    color: #F67E7E;
    font-size: 60px;
    font-weight: 80px;
    line-height: 28px;
}
.minfo{
    margin-top: 50px;
}
 .info{
     
    display: flex;
    justify-content: space-between;
    width: 550px;
    align-items: center;
    margin-left: 200px;
    /* border: 1px solid beige; */
 }
 .info p{
    font-size: 23px;
    color: #FFF;
    width: 550px;
    line-height: 20px;
}
.inputs{
    width: 180px;
    height: 150px;
    margin-left: 990px;
    margin-top: -550px;
}
.typess{
    width: 640px;
    height: 85px;
    background-color:  #014E56;
    font-size: 25px;
    color: white;
}
.massage{
    height: 150px;
}
button{
    margin-top: 10px;
    width: 123px;
    height: 48px;
    border-radius:24px;
    font-size: 25px;
}
footer{
    margin: 0 auto;
    width: 1840px;
    height: 250px;
    background-color: black;
}
.fdiv img{
    padding-left: 48px;
    padding-top: 48px;
}
.fdiv{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.fdiv1{
    width: 350px;
    display: flex;
     
}
.fdiv1 p{
    height: 50px;
    width: 5px;
    font-size: 25px;
    color: #9da0a0;
    margin-top: 35px;
    padding-left: 66px;
}
.fdiv2{
    display: block;
     font-size: 18px;
    color: #9b9a9a;
    width: 400px;
    height: 180px;
    margin-left: 550px;
    margin-top: -128px;
}
.fdiv3{
    display: block;
    width: 400px;
    height: 200px;
    margin-left: 1420px;
    margin-top: -185px;
    /* background-color: black; */
}
.fdiv3 p{
    color: #9b9a9a;
}